<h2>Headliners</h2>
<p>
    Experience the sonic delight from these made-up artists across 7 days that
    music fans are calling "one of the many gigs that will happen this year
</p>
<div class="mt-4 flex w-full snap-x gap-4 overflow-x-auto pb-5">
    <div class="min-w-[80%] md:min-w-[40%]">
        <div
            style="background-image: url('/images/band1.jpg');"
            class="h-80 w-full snap-center rounded-xl bg-cover bg-center shadow-md shadow-black/20"
        >
        </div>
        <h5 class="mt-2">Corduroy Gary</h5>
        <h6>1st July 9pm - Main stage</h6>
    </div>
    <div class="min-w-[80%] md:min-w-[40%]">
        <div
            style="background-image: url('/images/band2.jpg');"
            class="h-80 w-full snap-center rounded-xl bg-cover bg-center shadow-md shadow-black/20"
        >
        </div>
        <h5 class="mt-2">Corduroy Gary</h5>
        <h6>1st July 9pm - Main stage</h6>
    </div>
    <div class="min-w-[80%] md:min-w-[40%]">
        <div
            style="background-image: url('/images/band3.jpg');"
            class="h-80 w-full snap-center rounded-xl bg-cover bg-center shadow-md shadow-black/20"
        >
        </div>
        <h5 class="mt-2">Corduroy Gary</h5>
        <h6>1st July 9pm - Main stage</h6>
    </div>
    <div class="min-w-[80%] md:min-w-[40%]">
        <div
            style="background-image: url('/images/band4.jpg');"
            class="h-80 w-full snap-center rounded-xl bg-cover bg-center shadow-md shadow-black/20"
        >
        </div>
        <h5 class="mt-2">Corduroy Gary</h5>
        <h6>1st July 9pm - Main stage</h6>
    </div>
    <div class="min-w-[80%] md:min-w-[40%]">
        <div
            style="background-image: url('/images/band5.jpg');"
            class="h-80 w-full snap-center rounded-xl bg-cover bg-center shadow-md shadow-black/20"
        >
        </div>
        <h5 class="mt-2">Corduroy Gary</h5>
        <h6>1st July 9pm - Main stage</h6>
    </div>
    <div class="min-w-[80%] md:min-w-[40%]">
        <div
            style="background-image: url('/images/band6.jpg');"
            class="h-80 w-full snap-center rounded-xl bg-cover bg-center shadow-md shadow-black/20"
        >
        </div>
        <h5 class="mt-2">Corduroy Gary</h5>
        <h6>1st July 9pm - Main stage</h6>
    </div>
    <div class="min-w-[80%] md:min-w-[40%]">
        <div
            style="background-image: url('/images/band7.jpg');"
            class="h-80 w-full snap-center rounded-xl bg-cover bg-center shadow-md shadow-black/20"
        >
        </div>
        <h5 class="mt-2">Corduroy Gary</h5>
        <h6>1st July 9pm - Main stage</h6>
    </div>
</div>
