---
const { label } = Astro.props;
---

<div
    class="relative flex h-full cursor-pointer items-center justify-center p-4 font-bold text-pink-200 transition-colors ease-in-out hover:bg-white/10 hover:text-zinc-200"
>
    <span>{label}</span>
    <slot />
</div>
