<h2 class="mt-20">Tickets</h2>
<table class="mt-5 table w-full border-collapse border border-zinc-500">
    <thead class="text-lg font-bold">
        <td class="border border-zinc-500 p-3">Tickets</td>
        <td class="border border-zinc-500 p-3">Price</td>
    </thead>
    <tbody>
        <tr>
            <td class="border border-zinc-500 px-3 py-2">Single day ticket</td>
            <td class="border border-zinc-500 px-3 py-2">$30</td>
        </tr>
        <tr>
            <td class="border border-zinc-500 px-3 py-2">7 days ticket</td>
            <td class="border border-zinc-500 px-3 py-2">$100</td>
        </tr>
    </tbody>
    <caption class="caption-bottom">Once they're gone, they're gone!</caption>
</table>
