---
import Artists from "../components/Artists.astro";
import Lineups from "../components/Lineups.astro";
import Tickets from "../components/Tickets.astro";
---

<div class="mx-auto mt-20 max-w-screen-lg text-zinc-900 dark:text-zinc-200">
    <Artists />
    <Lineups />
    <Tickets />
</div>
